/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
}
.titulo{
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.row{
    margin-top: 25px;
}
.btn-color{
    background-color: brown;
    border-color: brown;
    border-radius: 25px;
    width: 100%;
}
.btn-color:hover{
    background-color: orange;
    border-color: orange;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}